# the following is all for nodejs deployment
_linux_nodejs_template: &_linux_nodejs_template
  os: linux
  dist: xenial
  language: rust
  rust: nightly-2019-01-24
  before_script:
    - cd $TRAVIS_BUILD_DIR/holochain-rust
    - sudo apt-get update
    # zmq still needed for release
    # @todo remove next release
    - sudo apt-get install libzmq3-dev

    # https://download.libsodium.org/doc/installation#compilation-on-unix-like-systems
    - cd $TRAVIS_BUILD_DIR/libsodium-1.0.16
    - ./configure
    - make && make check
    - sudo make install

_to_deploy_template: &_to_deploy_template
  if: tag =~ /^holochain-nodejs-(test-)*v\d+\.\d+\.\d+/

_env_node_8_deploy_template: &_env_node_8_deploy_template
  env:
  - TRAVIS_NODE_VERSION="8"
  - PERFORM_NODE_DEPLOY=1
  - RUST_SODIUM_LIB_DIR=${TRAVIS_BUILD_DIR}/libsodium-1.0.16
  - RUST_SODIUM_SHARED=1

_nodejs_deploy_template: &_nodejs_deploy_template
  cache:
      yarn: true
      cargo: true
      directories:
          - node_modules
  script:
      - cd $TRAVIS_BUILD_DIR
      - yarn install --ignore-scripts
      - node publish.js
  # deploy the node-pre-gyp binary to github releases so it's there when the npm package is installed
  deploy:
      provider: releases
      api_key:
          secure: nrLixlb3mlfRoxBDp5+fBV3I81N2LhJIj7hIB+fg0RT452w0+hHuTCn79NJ4tN4M2DlENlS9o+no3wzGw/CRUuyW2/4BKQQ24B1Obf7gMQJD4p0NE8uX9SZ7er08Ndc5HjC0ZfIBTB53GKI/j5gv9vmM9qcrdeGMtCAzuM10WJBgesT7TCNrrD0iPXYtPfzyNMJXtu8VrRMBZt3dW2wrvUy73CujVECbH4BbFKOEl/EQ9Gyi8KkSSKZoeXLXHMJiuMTBrDVlUY69m9o37X6MePHmpFSDiykPGsYa8hAQcWnCY9a9LORq7scbqYeTBEVijS58jfiVPQM/tC7LPhWNPgZ2jw0V7t+tM6tTYpJjIiAf83rnNwd6I+uhjWd7QuJvgo7LfZKcSCEIW4MYgcaK14QuJv4e+tbzrJNqkskIHYcSAF5Zzvc7CkyTO5wEnfNsiKDKLmdVvgMzAxyBfT+7J0msBOvqLirSPGXJcYRpZT0kSDwfgYyqRw3gXOjUgtONS+nC3MiV/vZ74c53qt/37R2+GmDRpB4viEiYTHGZmM4woXUF58Jg6mgaLjMJaI80DbTUr8pKudNtS31EWCP0EdNflzv5Ewlu/CwAmPA0AHuk5ZyvQNtQFERVw80nP7g210Layj6rLKMvEMgiecLgw1VmzOEoGPnMksnyJpplyqA=
      file_glob: true
      file: nodejs_conductor/bin-package/*.tar.gz
      skip_cleanup: true
      # publish only if we're building a tag and if the PERFORM_NODE_DEPLOY is set to 1
      on:
          tags: true
          condition: $PERFORM_NODE_DEPLOY = 1
      name: $TRAVIS_TAG

_unix_nodejs_conductor_template: &_unix_nodejs_conductor_template
  before_install:
    # install our own nodejs to get a reasonable version
    - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION
    - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.10.1
    - export PATH=$HOME/.yarn/bin:$PATH
  # manually cache as we manually install rustup
  # https://docs.travis-ci.com/user/caching/#rust-cargo-cache
  cache:
    yarn: true
    timeout: 1000
    directories:
      - node_modules
      - $HOME/.cargo
      - $TRAVIS_BUILD_DIR/target

jobs:
 include:
  - name: "Linux - Node 8"
    <<: *_linux_nodejs_template
    # <<: *_to_deploy_template
    <<: *_env_node_8_deploy_template
    <<: *_nodejs_deploy_template
    <<: *_unix_nodejs_conductor_template
