version: 2

jobs:
 build:
  docker:
   - image: ubuntu
  steps:
   - checkout

    #   # holochain-nodejs releases section
    # - name: "Linux - Node 8"
    #   <<: *_linux_nodejs_template
    #   <<: *_to_deploy_template
    #   <<: *_env_node_8_deploy_template
    #   <<: *_nodejs_deploy_template
    #   <<: *_unix_nodejs_conductor_template
    # - name: "Linux - Node 10"
    #   <<: *_linux_nodejs_template
    #   <<: *_to_deploy_template
    #   <<: *_env_node_10_deploy_template
    #   <<: *_nodejs_deploy_template
    #   <<: *_unix_nodejs_conductor_template
    # - name: "Linux - Node 11"
    #   <<: *_linux_nodejs_template
    #   <<: *_to_deploy_template
    #   <<: *_env_node_11_deploy_template
    #   <<: *_nodejs_deploy_template
    #   <<: *_unix_nodejs_conductor_template
